# Data
data/*
!data/sample/
!data/features/
!data/.gitkeep

# Models & Checkpoints
# (Đã mở khóa hoàn toàn thư mục models)
*.pkl
*.pth
*.h5
*.keras
*.msgpack
*.ipynb_checkpoints


# Python & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.venv
venv/
ENV/
env.bak/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
